.App {
  text-align: left;
  border:2px solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}

.headerH{
	border-bottom:2px solid black;
	padding-bottom: 20px;
	text-align: center;
	margin-top: 5px;
}

#cont{
	margin-top: 20px;
	padding: 10px;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 2%;
}

